<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamsolo.swear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".structure.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name=".structure.ui.LoadActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Launch"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="teamsolo.com"
                    android:pathPrefix="/swear"
                    android:scheme="http" />
                <data
                    android:host="swear"
                    android:scheme="teamsolo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".structure.ui.LoginActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/login_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".structure.ui.RegisterActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/register_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".structure.ui.MainActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".structure.ui.WebLinkActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".structure.ui.SettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/ObAppTheme" />

        <!--about-->
        <activity
            android:name=".structure.ui.about.AboutActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/about_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".structure.ui.about.AgreementActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/web_agreement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <!--orders-->
        <activity
            android:name=".structure.ui.mine.OrdersActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/orders_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>

</manifest>